.navbar_nav {
  background: #121212;
}

.nav_first {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  background: #f5c518;
  color: #000;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 1000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.logo:hover {
  color: #000;
}

.bars {
  margin-right: 0.5rem;
}

.nav_second {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu {
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.menu:hover {
  color: #fff;
  text-decoration: none;
  background-color: #2b2a2a;
}

.menu_bars {
  margin-right: 0.5rem;
}

.search_area {
  display: flex;
  background: #fff;
  border-radius: 5px;
  height: 40px;
  width: 50%;
}

.nav-link {
  color: #000;
  border-right: 1px solid #000;
}

.search_input {
  padding-left: 1rem;
  width: 100%;
  background: none;
  border: none;
}

.navbar_Link {
  color: #fff;
  padding:  0.5rem 1rem;
  border-radius: 5px;
}

.navbar_Link:hover {
  color: #fff;
  background-color: #2b2a2a;
}

.dropdown-menu {
  background: #121212;
}

.dropdown-item {
  color: #fff;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #414040;
}

.search_icon {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  cursor: pointer;
}

.navbar_search {
  display: none;
}

@media screen and (max-width: 769px) {
  .menu {
    display: none;
  }

  .navbar_pro,
  .navbar_watchlist {
    display: none;
  }

  .search_area {
    width: 75%;
  }
}

@media screen and (max-width: 321px) {
 .search_area {
   display: none;
 }

 .navbar_search {
   display: block;
 }

 .nav_first {
   width: 40%;
 }

 .nav_second {
   width: 60%;
   padding-left: 2rem;
 }
}

@media screen and (min-width: 769px) {
  .bars {
    display: none;
  }
}
