.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bi{
    margin: 0rem 1rem;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.bi:hover {
    background: #090e16;
}

.footer_links {
    text-align: center;
    margin: 0.5rem 0rem;
}

.footer_links a, .footer_links p {
    color: #fff;
    font-size: 0.75rem;
    margin: 0rem 1rem;
}

.footer_links a:hover {
    text-decoration: underline;
}

.copyright{
    color: gray;
    font-size: 0.6rem;
}